@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to bottom, #3498db, #2ecc71); */
  /* background: linear-gradient(to right, skyblue, white); */
  background-color: skyblue;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
}
.btns {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 380px;
}
button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-size: 35px;
  cursor: pointer;
  border: none;
  margin: 5px;
  background-color: white;
  color: skyblue;
  font-family: "Orbitron", sans-serif;

}
.calculator {
  display: flex;
  flex-direction: column;
  background: transparent;
  background-color: skyblue;
  /* background: linear-gradient(to bottom, #3498db, #2ecc71); */
  padding: 50px;
  border-radius: 15px;
  margin: 50px auto;
  border: 2px solid white;
  margin-bottom: 60px;
}
#display {
  text-align: right;
  height: 100px;
  width: 380px;
  max-width: 450px;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 45px;
  color: skyblue;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  padding: 2px;
}

#splkeys {
  width: 153px;
  height: 70px;
}

button:hover {
  transform: scale(1.1);
  color: rgb(61, 59, 59);
}

input:focus {
  outline: none;
}
::placeholder{
  color: skyblue;
}

.title {
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  cursor: pointer;
  transition: transform 0.5s ease;
  }

  .title:hover {
    transform: scale(1.5);
  }